node_modules/
frontend/node_modules/
backend/node_modules/

frontend/dist/
firmware/build/
firmware/managed_components/
firmware/components/esp_epaper/

.env
backend/.env
*.log
npm-debug.log*

*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db
backend/data/
